.App {
  background-color: #3f3f3f;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding: 30px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border-radius: 10px;
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.App ul {
  list-style-type: none;
  font-size: 20px;
}

.App footer {
  text-align: center;
  font-size: 14px;
}
